<h2 class="title">AGREGAR PRODUCTOS</h2>
<br>


{{!-- Formulario para dar de alta Productos --}}

<form  id="formProducts" action="/products" method="POST">

    <div class="form-group  d-flex align-items-center flex-column">

        <div class="col-md-4 mb-3">
            <label for="valtitle">Title:</label>
            <input type="text" name="title" class="form-control " id="valtitle" placeholder="Title" required>
        </div>

        <div class="col-md-4 mb-3">
            <label for="valdescripcion">Descripcion:</label>
            <input type="text" name="descripcion" class="form-control " id="valdescripcion" placeholder="Descripción"
                required>
        </div>

        <div class="col-md-4 mb-3">
            <label for="valPrice">Price:</label>

            <input type="number" name="price" class="form-control " id="valPrice" placeholder="Price" required>
        </div>

        <div class="col-md-4 mb-3">
            <label for="valThumbnail">Thumbnail:</label>
            <input type="text" name="thumbnail" class="form-control" id="valThumbnail" placeholder="Thumbnail">
        </div>

        <div class="col-md-4 mb-3">
            <label for="valCode">Code:</label>
            <input type="text" name="code" id="valCode" class="form-control " placeholder="Code" required>
        </div>

        <div class="col-md-4 mb-3">
            <label for="valStock">Stock:</label>
            <input type="number" name="stock" id="valStock" class="form-control " placeholder="Stock" required>
        </div>
<div class="col-md-4 mb-3">
    <label for="valStock">Category:</label>
    <input type="text" name="Category" id="valCategory" class="form-control " placeholder="Category" required>
</div>
        <button type="submit" class="btn btn-primary">Cargar</button>
    </div>
</form>

<hr>
<h2 class="title">Productos</h2>
{{!-- Tabla para visualización de los productos --}}
<div class="table-responsive-sm">
    <table  class="table table-hover table-borderless">
        <thead>
            <tr class="table-active">
                {{!-- <td>Id</td> --}}
                <th scope="col" class="text-center">Title</th>
                <th scope="col" class="text-center">Descripcion</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Thumbnail</th>
                <th scope="col" class="text-center">Code</th>
                <th scope="col" class="text-center">Stock</th>
                <th scope="col" class="text-center">Acciones</th>

            </tr>

        </thead>
        <tbody id="tbody">
            {{#each products}}
            <tr>
                {{!-- <td>{{this.id}}</td> --}}
                <td class="text-center">{{this.title}}</td>
                <td class="text-center">{{this.descripcion}}</td>
                <td class="text-center">{{this.price}}</td>
                <td class="text-center">{{this.thumbnail}}</td>
                <td class="text-center">{{this.code}}</td>
                <td class="text-center">{{this.stock}}</td>
            <td class="text-center"><button onclick="deleteProducts('{{{this._id}}}')"> 🗑 Eliminar</button></td>
            </tr>
            {{/each}}
        </tbody>


    </table>
</div>
{{!-- instanciamos socket.io --}}
<script src="/socket.io/socket.io.js"> </script>
<script  src="/static/js/products.js"></script>
<script>
        const socket = io()

    document.getElementById('formProducts').onsubmit=e=>{
        e.preventDefault()

   const title= document.querySelector('input[name=title]').value
        const descripcion = document.querySelector('input[name=descripcion]').value
        const price = parseInt(document.querySelector('input[name=price]').value)
        const thumbnail = document.querySelector('input[name=thumbnail]').value
        const code = document.querySelector('input[name=code]').value
        const stock =parseInt(document.querySelector('input[name=stock]').value) 
      const category = document.querySelector("input[name=category]").value;

        if (title == "" || price == "" || description == "" || code == "" || stock == "" || category == "") {
            console.log("campos obligatorios se encuentran vacios");
        } else {
            const product = { title, description, price, thumbnail, code, stock, true: true, category }     
      console.log("emitido desde el socket",product)

      
     socket.emit('new-product',product)
            setTimeout(() => {
                document.getElementById("formProducts").reset();
            }, 500);
    }

    socket.on('reload-table',productos=>{
        console.log(productos)
       const tbody =  document.getElementById('tbody')

       let html = ''
     productos.forEach(producto=>{
          html += `<tr>
         
          <td class="text-center">${producto.title}</td>
          <td class="text-center">${producto.descripcion}</td>
          <td class="text-center">${producto.price}</td>
          <td class="text-center">${producto.thumbnail}</td>
          <td class="text-center">${producto.code}</td>
          <td class="text-center">${producto.stock}</td>
          <td class="text-center">button onclick="deleteProducts('{{{this._id}}}')"> 🗑 Eliminar</button></td>
         </tr> `


     })
        
        tbody.innerHTML=html
    })
    
    </script>